@media(max-width:1000px){
  .dashboard { width:940px; grid-template-columns:repeat(2,1fr); }
  .meta-vs-receita { grid-column:1/3; }
  .receita-produto { grid-column:1/2; }
  .analise-vendedor { grid-column:2/3; }
  .vendedor-vs-produto { grid-column:1/3; }
}

@media(max-width:700px){
  body { padding:10px; }
  .dashboard { width:100%; grid-template-columns:1fr; }
  .cards { flex-wrap:wrap; justify-content:flex-start; gap:10px; }
  .card { width:calc(50% - 10px); }
  .meta-vs-receita, .receita-produto, .analise-vendedor, .vendedor-vs-produto { grid-column:1/2; }
  canvas { height:160px !important; }
}
